
.main-header {
    background-color: $tertiary-color;
    position: relative;
    height: 10rem;
    @include grid;
    grid-template-areas: "logo  menu";
    align-items: center;
    @include bodyPadding;

    @include tablet {
        grid-template-areas: "logo . . . . menu";
    }
    @include laptopS {
        grid-template-areas: "logo . . . mainnav  mainnav  mainnav mainnav mainnav mainnav mainnav mainnav";
    }
}
.burger-menu{
    position: absolute;
    z-index: 1;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: end;
    grid-area: menu;
    .stick {
        display: block;
        width: 40px;
        height: 4px;
        border-radius: 8px;
        background-color: $primary-color;
        margin-bottom: 8px;
        @include basictransition($duration : .1s, $delay: 0);
    }
    .stick:nth-child(3) {
        margin-bottom: 0;
    }
    @include laptopS {
        display: none;
    }
}
.burger-active {
    justify-content: center;
    .stick {
        display: none;
        transition: .1s ease;
        margin-bottom: 0px;
        @include basictransition($duration : .1s, $delay: 0);
    }

    .stick:nth-child(2) {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        @include basictransition($duration : .1s, $delay: .3s);
    }
}
.binchelogo {
position: relative;
width: fit-content;
justify-self: start;
grid-area: logo;
    h1 {
    display:block;
    font-size: 0;
        a {
        display: block;
        height: 40px;
        width: 48px;
        background: url("../../../src/icons/Binche-Logo.svg") no-repeat center;
        background-size: cover;
        }
    }
}
.main-navigation {
    @include bodyPadding;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: $tertiary-color;
    top: 80px;
    clip-path: circle(.5% at 88% -24px);
    @include basictransition($duration : .3s, $delay: 0);

    @include laptopS {
        display: flex;
        position: relative;
        top: unset;
        width: 100%;
        height: 100%;
        align-items: center;
        grid-column: span 6;
        grid-area: mainnav;
        clip-path: unset;
        background-color: violet;
        padding: 0;
    }

}
.nav-active {
    clip-path: circle(140% at 88% -24px);
    @include basictransition($duration : .3s, $delay: 0);
}
.dropdown-content {
    display: none;

}
.primary-navigation {
    display: flex;
    flex-direction: column;
    width: fit-content;

    @include laptopS {
        flex-direction: row;
    }

    .primary-navigation-item {
        position: relative;
        display: inline;
        width: fit-content;
        @include textbold($size : 3rem);
        margin-bottom: 16px;

        @include laptopS {
            @include textbold($size : 2rem);
            padding: unset;
            margin-right: 3rem;
            margin-bottom: 0;
        }
    }
    > .primary-navigation-item::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 100%;
        border: solid $primary-color;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg) translate(-50%, -50%);
        margin-left: 16px;
  
    }
    .primary-navigation-item:hover > .dropdown-content{
        display: flex;
        flex-direction: column;
        transform: translateX(0);
        @include basictransition($duration : .3s, $delay: 0);

        @include laptopS {
            position: absolute;
            width: fit-content;
            background-color: yellow;
            padding: 2rem;
            transform: translateX(-2rem);
            @include basictransition($duration : .3s, $delay: 0);

            > li {
                width: max-content;
            }
        }
    }
    .primary-navigation-item:hover::after{
       top: 3px;
       transform: rotate(-135deg) translate(-50%, -50%);

}

}
