

.binchelogo {
position: relative;
width: fit-content;
    h1 {
    display:block;
    font-size: 0;
        a {
        display: block;
        height: 40px;
        width: 48px;
        background: url("../../../src/icons/Binche-Logo.svg") no-repeat center;
        background-size: cover;
        }
    }
}