body {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(auto);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
}

.main-header{
    grid-column: span 2;
    grid-row: 1;
}

.first-section {
    grid-column: span 2;
    grid-row: 1;
}