@import './primary-navigation';
@import './secondary-navigation';

.main-header {
    background-color: $secondary-color;
    position: relative;
    height: 10rem;
    z-index: 5;
    @include grid;
    grid-template-areas: "logo  menu";
    align-items: center;
    @include bodyPadding;

    @include tablet {
        grid-template-areas: "logo . . . . menu";
    }
    @include laptopS {
        grid-template-areas: "logo .  mainnav  mainnav  mainnav mainnav mainnav mainnav mainnav mainnav";
    }
    @include laptopL {
        grid-template-areas: "logo .  .  . mainnav  mainnav  mainnav mainnav mainnav mainnav mainnav mainnav";
    }
}
.burger-menu{
    position: absolute;
    z-index: 1;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: end;
    grid-area: menu;
    .stick {
        display: block;
        width: 40px;
        height: 4px;
        border-radius: 8px;
        background-color: $primary-color;
        margin-bottom: 8px;
        @include basictransition($duration : .1s, $delay: 0);
    }
    .stick:nth-child(3) {
        margin-bottom: 0;
    }
    @include laptopS {
        display: none;
    }
}
.burger-active {
    justify-content: center;
    .stick {
        display: none;
        transition: .1s ease;
        margin-bottom: 0px;
        @include basictransition($duration : .1s, $delay: 0);
    }

    .stick:nth-child(2) {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        @include basictransition($duration : .1s, $delay: .3s);
    }
}
.binchelogo {
position: relative;
width: fit-content;
justify-self: start;
grid-area: logo;
z-index: 2;
    h1 {
    display:block;
    font-size: 0;
        a {
        display: block;
        height: 40px;
        width: 48px;
        background: url("../../../src/icons/Binche-Logo.svg") no-repeat center;
        background-size: cover;
        }
    }
}
.main-navigation {
    @include bodyPadding;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: $secondary-color;
    top: 80px;
    
    clip-path: circle(.5% at 88% -24px);
    @include basictransition($duration : .3s, $delay: 0s);

    @include laptopS {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: unset;
        width: 100%;
        height: 100%;
        align-items: center;
        grid-area: mainnav;
        clip-path: unset;
        padding: 0;
    }

}
.nav-active {
    padding-top: 3rem;
    clip-path: circle(140% at 88% -24px);
    @include basictransition($duration : .3s, $delay: 0s);

    @include tablet {
        padding-top: 6rem;
    }
}


