.primary-navigation {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &::after {
        position: absolute;
        content:"";
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $white;
        opacity: .3;
        z-index: -1;    
        @include laptopS {
            display: none;
        }
        }

    @include laptopS {
        flex-direction: row;
    }

    .primary-navigation-item-container{
    position: relative;
    height: 100%;
        @include laptopS {
            width: unset;
        }
    }

}

.primary-navigation-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    cursor: none;
    @include PoppinsFont($size : 3rem, $weight: 700);
    color: $black;
    margin-bottom: 3rem;

    @include laptopS {
        @include PoppinsFont($size : 1.5rem, $weight: 700);
        padding: unset;
        margin-right: 3rem;
        margin-bottom: 0;
    }
}

.dropdown-content {
    display: none;
    margin-bottom: 5rem;
    cursor: none;
    @include PoppinsFont(3rem);
    transform: translateY(-24px);
    @include basictransition($duration : .3s, $delay: 0s);

    @include laptopS {
        position: absolute;
        margin-bottom: 0;
        clip-path: inset(0 0 100% 0);
        min-width: 16rem;
    }

    li {
        margin-bottom: 1rem;
        a {
            cursor: none;
            text-decoration: none;
            color: $black;

            @include laptopS {
            font-size: 1.5rem;
            }
        }
        :hover {
            color: $primary-color;
        }
    }
}

.primary-navigation-item-container:hover .primary-navigation-item{
    opacity: .5;
 }

.primary-navigation-item-container:hover  .dropdown-content{
display: flex;
flex-direction: column;
transform: translateX(0);
transform: translateY(0);
@include basictransition($duration : .3s, $delay: 0s);

    @include laptopS {
        width: fit-content;
        background-color: $white;
        padding: 2rem;
        transform: translateX(-2rem);
        border-top: 1rem solid $secondary-color;
        @include basictransition($duration : .3s, $delay: 0s);
        clip-path: inset(0 0 0 0);
        border-radius: 1rem;

        > li {
            width: max-content;
        }
    }
}

.arrow-container {
    display: block;
    position: absolute;
    width: 3rem;
    height: 100%;
    right: -3rem;
    @include svg-arrow($color : "rgb(234, 91, 12)");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
    transform: rotate(0deg);
    @include basictransition($duration : .1s, $delay: 0);

    @include laptopS {
        width: 2rem;
        background-size: 1rem;
        right: -2rem;
    }
}

.primary-navigation-item-container:hover  .arrow-container{
    transform: rotate(180deg);
    @include basictransition($duration : .3s, $delay: 0);
}
