.primary-navigation {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &::after {
        position: absolute;
        content:"";
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $white;
        opacity: .3;
        z-index: -1;    
        }

    @include laptopS {
        flex-direction: row;
    }

    .primary-navigation-item-container{
    position: relative;
    height: 100%;
        @include laptopS {
            width: unset;
        }
    }

}

.primary-navigation-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    @include PoppinsFont($size : 3rem, $weight: 700);
    color: $black;
    margin-bottom: 3rem;

    @include laptopS {
        @include PoppinsFont($size : 1.5rem, $weight: 700);
        padding: unset;
        margin-right: 3rem;
        margin-bottom: 0;
    }
}

.dropdown-content {
    display: none;
    margin-bottom: 5rem;
    @include PoppinsFont(3rem);
    transform: translateY(-24px);
    @include basictransition($duration : .3s, $delay: 0s);

    @include laptopS {
        margin-bottom: 0;
    }

    li {
        margin-bottom: 1rem;
        a {
            cursor: none;
            text-decoration: none;
            color: $black;
             font-size: 2.5rem;
        }
    }
}

.primary-navigation-item-container:hover .primary-navigation-item{
    opacity: .5;
 }

.primary-navigation-item-container:hover  .dropdown-content{
display: flex;
flex-direction: column;
transform: translateX(0);
transform: translateY(0px);
@include basictransition($duration : .3s, $delay: 0s);

    @include laptopS {
        position: absolute;
        width: fit-content;
        background-color: yellow;
        padding: 2rem;
        transform: translateX(-2rem);
        @include basictransition($duration : .3s, $delay: 0s);

        > li {
            width: max-content;
        }
    }
}

.arrow-container {
    display: block;
    position: absolute;
    width: 3rem;
    height: 100%;
    right: -3rem;
    @include svg-arrow($color : "rgb(234, 91, 12)");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
    transform: rotate(0deg);
    @include basictransition($duration : .1s, $delay: 0);

    @include laptopS {
        width: 2rem;
        background-size: 1rem;
        right: -2rem;
    }
}

.primary-navigation-item-container:hover  .arrow-container{
    transform: rotate(180deg);
    @include basictransition($duration : .3s, $delay: 0);
}
