@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../../fonts/Poppins/Poppins-Bold.ttf');
}

@mixin textbold($size:2rem) {
    font-family: 'Poppins-Bold';
    font-size: $size;
    font-weight: 700;
    font-style: bold;
    line-height: 1.5;
}