.cursor {
    display: none;
    width: 3rem;
    height:3rem;
    border-radius: 50%;
    border: 2px solid $primary-color;
    position: absolute;
    pointer-events:none;
    transition: all .2s ease;
    transform-origin: 0 0;

    z-index: 99;

    @include laptopS {
      display: block;
    }
  }
  
  .link-grow {
    border: 1px solid $primary-color;
    transform: scale(2);
    border-style: dashed;
    transition: all .1s ease infinite;
    animation: rotating 2s linear infinite;
  }

  @keyframes rotating {
    from {transform: scale(2)  rotate(0deg) translate(-50%,-50%); transform-origin: 0 0;}
    to {transform: scale(2)  rotate(360deg) translate(-50%,-50%); transform-origin: 0 0;}
  }