
//// Bubble sizes
$bsS: 20rem;

.bubble-pictures-container {
    position: absolute;
    right: 2rem;
    top: 47rem;

    @include mobileL {
        transform: scale(1.6);
        right: 5rem;
        top: 40rem;
    }

    @include tablet {
    transform: scale(2.6);
    right: 20rem;
    top: 56rem;
    }

    @include laptopS {
    transform: scale(3.1);
    right: 26rem;
    top: 64rem;
    }

    @include laptopL {
        transform: scale(4);
        right: 36rem;
        top: 85rem;
    }

    .bubble-pictures{
        position: relative;
        display: block;
        width: $bsS;
        height: $bsS;
        border-radius: calc(#{$bsS} / 2);
        background-color: slategray;
        background-image: url('../../../../src/images//iStock-513550806.png');
        background-position: center;
        background-size: contain;

        &::before {
            display: block;
            content: "";
            position: absolute;
            width: calc(#{$bsS} / 3);
            height: calc(#{$bsS} / 3);
            border-radius: calc(#{$bsS} / 1.5);
            background-color: gray;
            background-image: url('../../../../src/images/iStock-1058704808.png');
            background-position: center;
            background-size: contain;
            top: calc(#{$bsS} / 2);
            left: -4rem;
        }
        &::after {
            display: block;
            content: "";
            position: absolute;
            width: calc(#{$bsS} / 6);
            height: calc(#{$bsS} / 6);
            border-radius: 50%;
            background-color: $primary-color;
            top: 10rem;
            right: -1rem;
            animation: floating 2s infinite ease;
        }
    }
}

@keyframes floating {
    0% {transform: translateY(0);}
    50% {transform: translateY(10%);}
    100% {transform: translateY(0)};
}