@import './welcome-binche';

.first-section {
    background-color: $secondary-color;
    @include bodyPadding;
    @include grid;
    padding-top: 4rem;
    height: calc(112rem - 4rem);
    grid-template-areas: "welcome  welcome"
                        " subtitle subtitle" ;

    @include tablet {
        grid-template-areas: ". welcome welcome welcome welcome welcome";  
        padding-top: 8rem;
    }
    @include laptopS {
        grid-template-areas: ". . welcome welcome welcome welcome welcome welcome welcome welcome"; 
        padding-top: 10rem;
    }
    @include laptopL {
        grid-template-areas: ". . welcome welcome welcome welcome welcome welcome welcome welcome welcome welcome";
        padding-top: 14rem;
    }
   
    h2 {
        @include PoppinsFont($size:3rem, $weight:700);
        grid-row: 2;
        grid-area: subtitle;
        margin-top: 6rem;
        z-index: 999;
    }
}