/// Search bar Size
$sbS : 4rem;
$sbhoverS: 36rem;

$sbL : 6rem;
$sbhoverL: 36rem;

.search-box {
    z-index: 1;
    position: relative;
    grid-row: 2;
    grid-area: search;
    width: $sbS;
    height: $sbS;
    border-radius: calc(#{$sbS} / 2);
    background-color: $tertiary-color;
    @include magnifyglass($color : "$black");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: calc(#{$sbS} / 2);
    cursor: pointer;
    display: flex;
    @include basictransition($delay: .3s);

    @include tablet {
        width: $sbL;
        height: $sbL;
        border-radius: calc(#{$sbL} / 2);
    }
    @include laptopS {
        background-size: calc(#{$sbL} / 2);
    }

    .search-box-input {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: .5rem 2rem;
        @include PoppinsFont($size : 2rem, $weight: 600);
        @include basictransition($delay: 0s);

        &::placeholder {
            opacity: 0;
            @include basictransition($delay: 1s);
        }
    }
    label {
        position: absolute;
        width: max-content;
        top: 50%;
        transform: translateY(-50%);    
        @include PoppinsFont($size : 2rem, $weight: 600);
        margin-left: calc(#{$sbS} + 1rem);
        @include basictransition($duration:0s,$delay: 1s);
        opacity: 1;

        @include tablet {
            margin-left: calc(#{$sbL} + 2rem);
        }
    }

    &:hover {
        width: $sbhoverS;
        background-position: calc(#{$sbhoverS} - 4rem) center;
        @include basictransition($delay:0s);

        .search-box-input {
            display: block;
            @include basictransition;

            &::placeholder {
                opacity: .5;
                @include basictransition($delay: 1s);
            }
        }
        
        label {
            margin-left: calc(#{$sbhoverS} + 1rem);
            @include basictransition($duration:0s);
            opacity: 0;

            @include tablet {
                margin-left: calc(#{$sbhoverL} + 2rem);
            }
        }
    }
}