@import './svg-icons';
@import './mediaqueries';


//// Main Grid ////

@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    @include tablet{
        grid-template-columns: repeat(6, 1fr);
    }
    @include laptopS {
        grid-template-columns: repeat(10, 1fr);
    }
    @include laptopL {
        grid-template-columns: repeat(12, 1fr);
    }
}
@mixin grid-column-child {
    grid-column: span 2;
    @include tablet{
        grid-column: span 6;
    }
    @include laptopS{
        grid-column: span 10;
    }
    @include laptopL{
        grid-column: span 12;
    }
}
@mixin bodyPadding {
    padding: 0px 16px;
    @include tablet {
        padding: 0px 56px;
    }
    @include laptopS {
        padding: 0px 112px;
    }
    @include laptopL {
        padding: 0px 136px;
    }
}

//// Transitions ////

@mixin basictransition($duration, $delay){
    transition: all $duration ease-in;
    transition-delay: $delay;
}


//// Absolute position ////

@mixin absolutecenter($content : ""){
    position: absolute;
    content: $content;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

 
